@use "../util" as u;
@use '../globals' as g;

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    padding: 2rem;
}

.grid{
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 420px;
    min-width: 260px;
    height: 100vh;
    background-color: var(--white);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 32px;
    gap: 1.5rem;

    @include u.breakpoint('medium') {
        flex-direction: column;
        max-width: 620px;
        height: auto;
        border-radius: 20px;
    }
    @include u.breakpoint('large') {
        flex-direction: row;
        max-width: 920px;
        height: auto;
        border-radius: 20px;
    }

    &__tip{
        display: flex; 
        flex-direction: column;
        gap: 1.5rem;
        height: auto;

         @include u.breakpoint('large') {
            width: 50%;
            padding-bottom: 1.5rem;
         }

         &__bill{
            font-size: 24px;
            padding: 10px;
            height: 40px;
            width: 300px;
            background: url(../../images/icon-dollar.svg) no-repeat left 5px;
         }

         &__buttons{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1.5rem;

            &--custom{
                background-color: var(--grey-200);
                color: var(--grey-550);
            }

            @include u.breakpoint('medium') {
                grid-template-columns: repeat(3, 1fr);
            }
             @include u.breakpoint('large') {
                grid-template-columns: repeat(3, 1fr);
            }
         }
    }

    &__summary{
        background-color: var(--green-900);
        border-radius: 20px;
        width: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1.5rem;

        &--costs{
            display: flex;
            flex-direction: column;

            &--amount, &--total{
                display: flex;
                justify-content: space-between;
                align-items: center;

                &--price{
                    color: var(--green-400);
                    font-size: g.$font-size-2;
                    line-height: g.$line-height-2;
                    letter-spacing: g.$letter-spacing-2;

                    @include u.breakpoint('medium') {
                        font-size: g.$font-size-1;
                        line-height: g.$line-height-1;
                        letter-spacing: g.$letter-spacing-1;
                    }
                    @include u.breakpoint('large') {
                        font-size: g.$font-size-1;
                        line-height: g.$line-height-1;
                        letter-spacing: g.$letter-spacing-1;
                    }
                }
                &--name{color: var(--white);};
                &--person{color: var(--grey-400);};
            }
        }

        &--reset_btn{
            font-weight: 550;
            font-size: g.$font-size-4;
        }

         @include u.breakpoint('large') {
            width: 50%;
         }
    }
}
