@use "../util" as u;
@use '../globals' as g;

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo{
    padding: 4rem;
}

.invalid_input{
    outline: 1px solid var(--orange-400);
}

.invalid_msg_bill, .invalid_msg_people{
    color: var(--orange-400);
    order: 2;
    display: none;
}

.input_wrapper{
    display: flex;
    justify-content: space-between;
}

.custom_input{
    width: 100%;
    height: 100%;
    border-radius: 0.625rem;
    border: none;
    background-color: var(--grey-200);
    color: var(--grey-400);
    font-size: g.$font-size-3;
    padding: 1rem;
    text-align: left;
    display: none;
}

input.custom_input{
    background: url(../../images/icon-percentage.svg) no-repeat right;
    background-size: contain;
    background-size: 2.25rem 2.3rem;
    background-position: 0.625rem right;
    background-color: var(--grey-200);
}

.grid{
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 26.25rem;
    min-width: 16.25rem;
    height: 100vh;
    background-color: var(--white);
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
    padding: 2rem;
    gap: 1.5rem;

    @include u.breakpoint('medium') {
        flex-direction: column;
        max-width: 38.75rem;
        height: auto;
        border-radius: 1.25rem;
    }
    @include u.breakpoint('large') {
        flex-direction: row;
        max-width: 57.5rem;
        height: auto;
        border-radius: 1.25rem;
    }

    &__tip{
        display: flex; 
        flex-direction: column;
        gap: 1.5rem;
        height: auto;

         @include u.breakpoint('large') {
            width: 50%;
            padding-bottom: 1.5rem;
         }

         &--name{
            font-size: g.$font-size-5;
            color: var(--grey-500);
            justify-self: flex-start;
         }

         &__bill{
            font-size: 24px;
            padding: 0.625rem;
            height: 40px;
            width: 300px;
            background: url(../../images/icon-dollar.svg) no-repeat left 5px;
         }

         &__buttons{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1.5rem;

            &--custom{
                background-color: var(--grey-200);
                color: var(--grey-550);
            }

            @include u.breakpoint('medium') {
                grid-template-columns: repeat(3, 1fr);
            }
             @include u.breakpoint('large') {
                grid-template-columns: repeat(3, 1fr);
            }
         }
    }

    &__summary{
        background-color: var(--green-900);
        border-radius: 1.25rem;
        width: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1.5rem;

        &--costs{
            display: flex;
            flex-direction: column;

            &--amount, &--total{
                display: flex;
                justify-content: space-between;
                align-items: center;

                &--price{
                    color: var(--green-400);
                    font-size: g.$font-size-2;
                    line-height: g.$line-height-2;
                    letter-spacing: g.$letter-spacing-2;

                    @include u.breakpoint('medium') {
                        font-size: g.$font-size-1;
                        line-height: g.$line-height-1;
                        letter-spacing: g.$letter-spacing-1;
                    }
                    @include u.breakpoint('large') {
                        font-size: g.$font-size-1;
                        line-height: g.$line-height-1;
                        letter-spacing: g.$letter-spacing-1;
                    }
                }
                &--name{color: var(--white);};
                &--person{color: var(--grey-400);};
            }
        }

        &--reset_btn{
            font-weight: 550;
            font-size: g.$font-size-4;
        }

         @include u.breakpoint('large') {
            width: 50%;
         }
    }
}
