:root{
    --black: black;
    --white: white; 

    --grey-600: hsl(180, 25%, 32%);
    --grey-550: hsl(180, 18%, 40%);
    --grey-500: hsl(186, 14%, 43%);
    --grey-400: hsl(186, 14%, 56%);
    --grey-300: hsl(184, 19%, 68%);
    --grey-200: hsl(185, 41%, 84%);
    --grey-50: hsl(189, 47%, 97%);

    --green-900: hsl(183, 100%, 15%);
    --green-800: hsl(183, 85%, 21%);
    --green-750: hsl(183, 79%, 24%);
    --green-400: hsl(172, 67%, 45%);
    --green-200: hsl(173, 61%, 77%);

    --orange-400: hsl(13, 70%, 60%);
   
}