@use '../util' as u;

$font-size-1: 48px;
$font-size-2: 32px;
$font-size-3: 24px;
$font-size-4: 20px;
$font-size-5: 16px;
$font-size-6: 13px;

$line-height-1: 71px;
$line-height-2: 47px;
$line-height-3: 36px;
$line-height-4: 30px;
$line-height-5: 24px;
$line-height-6: 19px;

$letter-spacing-1: -1px;
$letter-spacing-2: -0.67px;

h1,h2,h3{
    margin: 0;
}

p{
    margin: 0;
}

a, 
a:visited, 
a:active{
    text-decoration: none;
}

input{
    border: 1px solid var(--grey-400);
    outline: none;
    font-size: 24px;
    padding: 10px;
    width: 100%;
}

input.grid__tip--bill{
    background: url(../../images/icon-dollar.svg) no-repeat left;
    background-size: contain;
}

input.grid__tip--people{
    background: url(../../images/icon-person.svg) no-repeat left;
    background-size: contain;
}

button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    background-color: var(--green-900);
    color: var(--white);
    padding: 1rem;
    border-radius: 10px;
}

.green-400{ // also hover
    background-color: var(--green-400);
    color: var(--green-900);
}